<!DOCTYPE html>
<html {{- with .Site.LanguageCode }} lang="{{ . }}" {{- end -}}>
<head>
    {{- partial "head.html" . -}}
</head>

<body class="has-navbar-fixed-top">
    <header>
    {{- block "header" . -}}
        {{- partial "header.html" . -}}
    {{- end -}}
    </header>

    {{- partial "top-menu.html" . -}}

    <div class="column is-10 is-offset-1">
        <section class="section">
            <div class="container">
                <div class="content">
                {{- block "main" . -}}
                    {{ .Content }}
                {{- end -}}
                </div>
            </div>
        </section>

        {{- block "after-content" . -}}
        {{- end -}}
    </div>

    <footer class="footer">
    {{- block "footer" . -}}
        <nav class="breadcrumb is-centered has-succeeds-separator" aria-label="breadcrumbs">
            <ul>
                <li><a href="{{- .Site.Home.Permalink -}}">{{- .Site.Home.Title -}}</a></li>
                {{- $usersPage := . -}}
                {{- range .Site.Menus.top -}}
                    {{- partial "breadcrumb.html" (dict "menuEntry" . "usersPage" $usersPage) -}}
                {{- end -}}
            </ul>
        </nav>
    {{- end -}}
    </footer>
</body>
</html>
