<!DOCTYPE html>
{{ with .Site.LanguageCode }}<html lang="{{ . }}">{{ else }}<html>{{ end }}
<head>
    {{- partial "head.html" . -}}
    {{- partial "custom-head.html" . -}}
</head>
<body>
    {{- partial "prepend-body.html" . -}}
    <div class="container">
        {{- partial "notification.html" . -}}

        <header>
            {{- partial "site-header.html" . -}}
        </header>

        <div class="global-menu"> {{/* why is this not "main" (as in the original theme)? :iiam: */}}
        {{ block "top-menu" . -}}
            {{- partial "top-menu.html" . -}}
        {{- end -}}
        </div>

        <div class="content-container">
            <main>
            {{- block "main" . -}}
            {{- end -}}

            <footer>
                {{- partial "content-footer.html" . -}}
            </footer>
            </main>

            <div class="sidebar">
				<nav class="open-menu">
				{{- block "sidebar" . -}}
                    {{- $usersPage := . -}}
                    {{- $site := .Site -}}
					<ul>
                    {{- range .Site.Menus.sidebar -}}
                        {{ partial "sidebar-item.html" (dict "menuEntry" . "usersPage" $usersPage "site" $site) }} 
                    {{- end -}}
					<ul>
				{{- end -}}
				</nav>
            </div>
        </div>
        {{- partial "footer.html" . -}}
    </div>
</body>
</html>
