<section class="hero is-bold is-dark is-small">
    <div class="hero-body level">
        <div class="level-left">
            <span class="level-item">
                <a href="{{- .Site.Home.Permalink -}}">
                <figure class="image is-96x96">
                    <img src="images/logo.png">
                </figure>
                </a>
            </span>
            <div class="level-item">
                <div class="content">
                    <p class="title is-3">{{- .Title -}}</p>
                </div>
            </div>
        </div>
    </div>
</section>
